* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: grey;
  }
  
  .play-area {
    display: grid;
    width: 300px;
    height: 300px;
    grid-template-columns: auto auto auto;
  }
  
  .block {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    border: 5px solid black;
  }
  
  #block_0,
  #block_1,
  #block_2 {
    border-top: none;
  }
  
  #block_0,
  #block_3,
  #block_6 {
    border-left: none;
  }
  
  #block_6,
  #block_7,
  #block_8 {
    border-bottom: none;
  }
  
  #block_2,
  #block_5,
  #block_8 {
    border-right: none;
  }
  
  button {
    outline: none;
    padding: 20px 50px;
    font-size: 20px;
    font-weight: bold;
    background: none;
  }
  
  button:hover {
    cursor: pointer;
    background: green;
    color: black;
  }